@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    font-family: 'Varela Round', sans-serif;
}

body {
    margin: 0px;
    background-color: #ffffff
}

h1 {
    font-family: Montserrat;
    font-size: 40px;
    color: #333;
    font-weight: 600;
    letter-spacing: -2px;
    text-align: center;
}

h2 {
    font-family: Monserrat;
    font-size: 32px;
    color: #444;
    font-weight: 600;
    letter-spacing: -2px;
}

.cabecera img {
    margin: 0px 0px;
    width: 1348px;
    height: 200px;

}

.cuerpo {
    max-width: 1100;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.contenido {
    float: left;
    width: 65%;
}

div.contenido img {
    width: 90%;
}

.barra-lateral {
    padding-top: 40px;
    float: right;
    width: 30%;
}

.barra-lateral h3 {
    color: #444;
    text-align: center;
    border-bottom: 1px solid #444;
}

.text-justify {
    text-align: justify;
}

.pie {
    clear: both;
    color: white;
    background-color: #144762;
    min-height: 100px;
    padding: 10px;
    text-align: center;
}