
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
  

  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


  body {
 font-family:'Rubik', sans-serif;
margin: 0px ;
background-color: white;
  }

  h1 {
    font-family: 'Tilt Prism', cursive;
    font-size: 40px ;
    font-weight: 600;
    letter-spacing: -2px;
    text-align: center;
  }
  h2 {
    font-family: 'Tilt Prism', cursive;
    font-size: 32px ;
    color: #444;
    font-weight: 600;
    letter-spacing: -2px;
 }

.cabecera img{

    margin: 0px 0px;
    width: 1348;
    height: 200px;
 }
 .cuerpo {
    max-width: 1100px;
padding: 15px;
margin-left: auto; 
margin-right: auto; 
}

.contenido{
    float: left;
    width: 64%;
}
div.contenido img {
    width: 90%;

}
.barra-lateral{
    padding-top: 40px;
    float: right;
    width: 30%;
}
.barra-lateral h3 {
  color: #444;
  float: center;
  width: 1px solid #444;
}


.text-justify {
  text-align: justify;
}
.pie {
    clear: both;
color: white;
background-color: #144762;
min-height: 100px;
padding: 10px;
text-align: center;

}